.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.displayDiv{
  height: 350px;
  width: 40%;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
}

.dashBox{
  width: 100%;
  padding: 15px;
  border: 2px solid black;
  display: block;
  margin-top: 10px;
}

.dashbox img{
  width: 20%;
  display: inline-block;
}

.textBox{
  width: 70%;
  display: inline-block;
  margin-left: 5%;
}
.textBox button{
  margin-left: 15%;
}